<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>loginController</display-name>
    <servlet-name>loginController</servlet-name>
    <servlet-class>web.loginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginController</servlet-name>
    <url-pattern>/loginController</url-pattern>
  </servlet-mapping>
  <display-name>TP_02</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>produitServlet</display-name>
    <servlet-name>produitServlet</servlet-name>
    <servlet-class>web.produitServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>produitServlet</servlet-name>
    <url-pattern>/produitServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ajouterproduit</display-name>
    <servlet-name>ajouterproduit</servlet-name>
    <servlet-class>web.ajouterproduit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ajouterproduit</servlet-name>
    <url-pattern>/ajouterproduit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteProduitServlet</display-name>
    <servlet-name>DeleteProduitServlet</servlet-name>
    <servlet-class>web.DeleteProduitServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteProduitServlet</servlet-name>
    <url-pattern>/DeleteProduitServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddProduit</display-name>
    <servlet-name>AddProduit</servlet-name>
    <servlet-class>web.AddProduit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddProduit</servlet-name>
    <url-pattern>/AddProduit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>registerServlet</display-name>
    <servlet-name>registerServlet</servlet-name>
    <servlet-class>web.registerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>registerServlet</servlet-name>
    <url-pattern>/registerServlet</url-pattern>
  </servlet-mapping>
</web-app>